[submodule "lib/delegation-contract"]
	path = lib/delegation-contract
	url = https://github.com/xaya/delegation-contract
[submodule "lib/polygon-contract"]
	path = lib/polygon-contract
	url = https://github.com/xaya/polygon-contract
